body{
    margin: 0;
    font-family: 'Roboto';
}
header{
    background-color: lightgrey;
    text-align: center;
    font-size: medium;
    padding: 1px;
}
.navbar{
    background-color:black ;
    height: 25px;
}
footer{
    display:block;
    background-color: lightgrey;
    text-align: center;
    padding: 25px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
